h1 {
    background-color: #004175;
    color: white;
    padding: 3rem;
    border-bottom: .2rem solid #89DEEF;
}

body {
    font-family: 'Open Sans';
    margin: 50px;
}

.dog-traits {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dog-traits li {
    background-color: #89DEEF;
    display: inline-block;
    border-radius: 1rem;
    padding: .3rem;
}

h4 {
    font-family: Oswald;
    font-size: 1.3rem;
    margin: .5rem;
}

.dog-pic {
    width: 100%;
}

.footer-pics {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.dog-profile {
    border: 6px solid pink;
    width: 33%;
}

#dogs {}

.row {
    display: flex;
}