h1 {
    background-color: #004175;
    color: white;
    padding: 3rem;
    border-bottom: .2rem solid #89DEEF;
}

body {
    font-family: 'Open Sans';
    margin: 50px;
}

.dog-traits {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dog-traits li {
    background-color: #89DEEF;
    display: inline-block;
    border-radius: 1rem;
    padding: .3rem;
    margin: .2rem;
}

h4 {
    font-family: Oswald;
    font-size: 1.3rem;
    margin: .5rem;
}

.dog-pic {
    width: 100%;
}

.dog-profile {
    border: 6px solid white;
    width: 33%;
}

.row {
    display: flex;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    margin-top: 25px;
}

h3 {
    font-family: Oswald;
    font-size: 3rem;
    color: red;
    /* position: absolute; */
    top: 200px;
    left: 0;
    width: 100%
}

.donate {
    width: 33%;
    min-width: 300px;
    height: 250px;
    font-size: 34px;
    text-align: center;
    vertical-align: middle;
    line-height: 230px;
    font-family: Oswald;
    color: #FFF;
    background:
        linear-gradient(rgba(166, 169, 240, 0.75), rgba(166, 169, 240, 0.75)),
        url(starter_files/images/donate.jpg) center/cover;

}

.volunteer {
    background:
        linear-gradient(rgba(166, 169, 240, 0.75), rgba(166, 169, 240, 0.75)),
        url(starter_files/images/volunteer.jpg) center/cover;
    width: 33%;
    min-width: 300px;
    height: 250px;
    font-size: 34px;
    text-align: center;
    vertical-align: middle;
    line-height: 230px;
    font-family: Oswald;
    color: #FFF;
}

.location {
    background:
        linear-gradient(rgba(166, 169, 240, 0.45), rgba(166, 169, 240, 0.45)),
        url(starter_files/images/location.png) center/cover;
    width: 33%;
    min-width: 300px;
    height: 250px;
    font-size: 34px;
    text-align: center;
    vertical-align: middle;
    line-height: 230px;
    font-family: Oswald;
    color: #FFF;
}

.dogs {
    margin: 30px 70px;
}